APP_HOST=0.0.0.0
APP_PORT=8088
LOG_LEVEL=INFO
OCTOPRINT_BASE_URL=http://192.168.2.59
OCTOPRINT_API_KEY=HIER_API_KEY_EINTRAGEN
OCTOPRINT_WEBCAM_URL=http://192.168.2.59/webcam/?action=stream
YOUTUBE_RTMPS_URL=rtmps://a.rtmps.youtube.com/live2
YOUTUBE_STREAM_KEY=HIER_NEUEN_STREAMSCHLUESSEL_EINTRAGEN
VIDEO_WIDTH=1280
VIDEO_HEIGHT=720
VIDEO_FPS=15
VIDEO_BITRATE=3000k
AUDIO_BITRATE=128k
