APP_HOST=0.0.0.0
APP_PORT=8088
LOG_LEVEL=INFO
OCTOPRINT_BASE_URL=http://192.168.2.59
OCTOPRINT_API_KEY=HIER_API_KEY_EINTRAGEN
OCTOPRINT_WEBCAM_URL=http://192.168.2.59/webcam/?action=stream
YOUTUBE_RTMPS_URL=rtmps://a.rtmps.youtube.com/live2
YOUTUBE_STREAM_KEY=HIER_NEUEN_STREAMSCHLUESSEL_EINTRAGEN
VIDEO_WIDTH=1280
VIDEO_HEIGHT=720
# YouTube Live: mindestens 15 FPS (besser 30), 720p ca. 2500k-4000k
VIDEO_FPS=15
VIDEO_BITRATE=2500k
AUDIO_BITRATE=128k
STREAM_AUTO_RESUME=true
STREAM_RESUME_DELAY_SECONDS=45
OVERLAY_ENABLED=true
OVERLAY_FONT_PATH=/usr/share/fonts/truetype/dejavu/DejaVuSans.ttf
OVERLAY_FONT_SIZE=28
OVERLAY_FONT_COLOR=white
OVERLAY_X=24
OVERLAY_Y=24
OVERLAY_INTERVAL_SECONDS=5
